// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";


.pagination_styling{

    width: 100%;
}

.top_pagination{
  padding: 20px 0px 0 0;
  margin: 2px 0 0px 0;
  border-top: 1px solid #ccc;
  @extend .pagination_styling;
  div{
    display: inline-block;
    vertical-align: top;
  }
  text-align: left
}

.bottom_pagination{
  padding: 0px 0px 0 0;
  margin: 0px 0 0px 0;
  // border-bottom: 1px solid #ccc;
  @extend .pagination_styling;
}

.pagination{
  font-size: 0;
  text-align: center;
  margin: 20px 0 100px 0;
  div{
    display: inline-block;
  }
  li{
    font-size: 18px;
    display: inline-block;
    // background: yellow;
    margin: 0 5px;
    a{
      padding: 10px 20px;
      color: $light_gray;
      font-weight: bold;
      border: 3px solid $light_gray;
      background: white;
      &:hover{
        border: 3px solid $orange_color;
        color: $orange_color;
      }
    }
  }

  li.active{
    a{
      border: 3px solid $orange_color;
      color: $orange_color;
    }
  }

  .previous_page, .next_page {
    // display: none;
  }
}


.category_main{
  padding: $main_page_side_padding;
  margin: 0px auto;
  // text-align: center;
  .category_desc{

    border-bottom: 1px solid #ccc;
    padding: 0px 30px 30px 0px;
    text-align: center;
  }

  h1{
    display: block;
    margin: 0px 0 10px 0;
    text-align: center;
    font-weight: 600;
  }

}

.cat_product_wrapper{
  margin: 0px auto;
  // background: green;
}

.photoset_wrapper{

  margin: 0 auto;
  padding-top: 0px;
  // background: yellow;
  font-size: 0;
  li{
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin: 0 30px 80px 0px;
    &:nth-of-type(3n){
      margin-right: 0px;
    }
  }
  li.pan{
    width: 495px;
    margin: 0 30px 80px 0px;
    &:nth-of-type(2n){
      margin-right: 0px;
    }
  }
  img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 20px gray;
  }
  h4{
    text-align: left;
  }

}



@media only screen and (max-width: $mobile_width)  {

  // .photoset_wrapper{
  //   li{
  //     display: block;
  //   }
  // }


}


//signup
.newsletter_wrapper{

  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
  padding: 80px 0;
  margin: 0 auto;

  .subscribe_title{
    font-size: 40px;
  }

  .subscribe_desc{
    font-size: 24px;
    margin-bottom: 20px;
  }

  // MAIL CHIMP
  .mail_chimp_wrapper{


    .sign_up_details{
      width: 300px;
      height: 40px;
      font-size: 18px;
      outline: none;
      border-radius: 3px;
      border: 1px solid fade-out($orange_color,.2);
    }

    input[type='email']{
      @extend .sign_up_details;
      color: $black_color;
      text-align: center;
      border: 2px solid fade-out($orange_color,.2);

      &:hover{
        border: 2px solid $orange_color;
      }
    }

    input[type='submit']{
      @extend .sign_up_details;
      background: fade-out($orange_color,.2);
      color: white;

      &:hover{
        background: $orange_color
      }
    }


}
}





