@import "base/base";

.category_index_main{
  // padding: $main_page_side_padding;
  margin: 0px auto;
  text-align: center;

  p{
    font-size: 20px;
  }
}

.cat_photo_count{
  color: $orange_color;
  font-weight: bold;
}

.fotorama{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  background: $black_color;
}

.fotorama__stage__frame, .fotorama__fade-rear, .fotorama__loaded, .fotorama__loaded--img, .fotorama__active{
    background: $black_color;
}


.fotorama__caption{
  text-align: center;
  height: 34px;
  background: $black_color;
  opacity: .85;
}

.fotorama__caption__wrap{
  background: $black_color;
}



.caption_link{
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  border: none;
  display: inline-block;
  opacity: 1;
  a{
    padding: 20px 40px 20px 40px;
    color: #eee;
    opacity: 1;
    &:hover{
      color: $orange_color;
      text-decoration: none;
      opacity: 1;
    }
  }
}


.caption_title{
  display: inline-block;
  display: none;
}





