
@import "base/base";
@import "base/buttons";

.photo_main{
  padding: 0 30px;
  margin: 0 auto;
}


.breadcrumbs{
  color: #aaa;
  font-size: 16px;
  margin: 10px 0 20px 0;
  text-align: left;
  a{
    color: fade-out($black_color,.2);
    text-decoration: underline;
    font-size: 16px;
    padding: 0 5px;
    &:first-child{
      padding-left: 0px;
    }
    &:hover{
      color: $orange_color;
    }
  }
}

.product_wrapper{
  float: left;
  width: 525px;
  margin-right: 30px;
  text-align: center;
  img{
    width: 100%;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    opacity: 1;
  }

  .image_link{
    opacity: 1;
    &:hover{
      opacity: 1;
    }
  }
  .artist{
    font-size: 16px;
  }

  .watermark{
    margin-bottom: 20px;
  }
  .share_wrapper{
    margin-bottom: 40px;
    div{
      display: inline-block;
      vertical-align: bottom;
    }

    .view_slideshow{
      color: $orange_color;
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      margin-right: 70px;
      text-align: left;
    }
  }

  .social_buttons{
    width: 200px;
  }

  .more_details_wrapper{
    border-top: 2px solid #ccc;
    // border-right: 1px solid #ccc;
    margin-bottom: 40px;
    text-align: left;
    font-family: $sans_serif;


    h2{
      font-size: 22px;
      padding-top: 20px;
      margin-bottom: 0px;
      color: $black_color;
    }

    p{
      color: $light_gray;
      font-family: $sans_serif;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .detail_row{

      font-size: 15px;
      border-top: 1px solid #ccc;
      &:last-child{
      border-bottom: 1px solid #ccc;
      }

      .more_detail_label{
        display: inline-block;
        color: $light_gray;
        width: 150px;
        padding: 5px 0;
      }

      .more_detail_value{
        padding: 5px 0;
        display: inline-block;
        color: $dark_gray;
      }

      .reviews{
        color: $dark_gray;
        margin-left: 5px;
      }

      .fa-star, .fa-star-half-o{
        color: $orange_color;
      }



    }
  }



}

.product_info_wrapper{
  float: left;
  width: 475px;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 50px;

  .fieldset_wrapper{
    padding-bottom: 30px;
  }

  h1{
    font-size: 28px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  fieldset{
    margin-bottom: 15px;
    font-weight: bold;
  }


  label{
    width: 150px;
    float: left;
    font-size: 18px;
  }

  select {
    height: 24px;
    .dropdown select {
      border: 5px !important;.
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .option_helpers{
    font-size: 14px;
    color: fade-out($blue_color,.2);
    vertical-align: bottom;
    padding-left: 5px;
  }

  .price{
    float: none;
    font-weight: bold;
    color: $red_color;
  }

  .fa-usd{
    font-size: 16px;
    color: $red_color;
    font-weight: bold;
  }

  .product_text{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.2;

    padding: 0px 0 20px 0;
    margin-bottom: 20px;
  }

}


.recommended_photoset_wrapper {

  clear: both;
  padding-top: 40px;
  border-top: 2px solid #ccc;
  // background: yellow;
  margin-bottom: 0px;
  h3{
    font-size: 24px;
    color: $black_color;
    margin-bottom: 20px;
  }
  li{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 0px 58px 30px 0px;
    &:last-child{
      margin-right: 0px;
    }
  }
  img{
    width: 100%;
  }


}


// EXTRA STUFF NOT INCLUDED YET
.hardsell{
  clear: both;
}

.labeltag{
  width: 100px;
  text-align: left;
  border: 2px solid black;
}

.stars{
  color: #E5BB3E;
}

p.quote {
    width: 90%;
    margin: 20px auto;
    position: relative;
    left: 2%;
    font-family: 'Georgia', serif;
    color: black;

}

p.quote:before, p.quote:after {
    color: lightgray;
}

p.quote:before {
    content: '\201C';
    font-size: 80px;
    position: absolute;
    left: -40px;
    top: 15px;
}

p.quote:after {
    content: '\201D';
    font-size: 65px;
    position: relative;
    left: 0;
    top: 25px;
    float: right;
}





