@import 'base/base';
@import 'base/library';


//variables
$outer_width: 800px;
$inner_width: 600px;
$x_pos: ($outer_width * .5) - ($inner_width*.5);
$y_pos: ($outer_width * .5) - ($inner_width*.5);

@include static_pages_base;

.compare_image_wrapper{

  width: $outer_width;
  background: #ddd;
  position: relative;
  margin: 0 auto;

  img{
    opacity: .9;
      &:hover{
        -webkit-transition: all .01s ease ;
        opacity: .02;
        width: 100%;
      }
    }
  }

  .table_wrapper{

      position: absolute;
      background: white;
      visibility: hidden;
      overflow: hidden;
      top: 160px;
      left: $x_pos;


      table{
      font-size: 20px;
      color: $light_gray;
      border: 3px solid $dark_gray;
      }


      thead{
      font-weight: bold;
      color: $orange_color;
      }

      td{
      border: 1px solid $dark_gray;
      padding: 5px 30px;
      width: $inner_width / 2;
      text-align: center;
      vertical-align: center;
      }

}

.compare_image_wrapper:hover > .table_wrapper {

opacity: 1;
visibility: visible;
overflow: visible;
-webkit-transition: all .001s ease .1s;


}

