
@import "base/base";

.confirmation_main{
  font-size: 22px;
  padding: $main_page_side_padding;
  margin: 0px auto;

  h1{
    margin-bottom: 20px;
  }
}

section{
  font-size: 18px;
  margin-bottom: 50px;
  h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
  }
  li{
    margin-bottom: 10px;
  }
}

.social_sharing{
  li{
    display: inline-block;
    margin-right: 60px;
    vertical-align: bottom;
  }
}


.pinterest_share{
  width: 300px;
}
