@import 'base/base';



.payment_main{
  padding: $main_page_side_padding;
  margin: 0px auto;
}


.customer_info_form{

  // background: green;
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 0px;
  margin-bottom: 30px;
  font-size: 18px;

  fieldset{
    margin-bottom: 15px;
  }

  label{
    width: 100px;
    float: left;
    height: 28px;
    color: $dark_gray;
    // text-transform: capitalize;
    vertical-align: bottom;
    font-size: 16px;
    margin-top: 10px;
  }

  .billing_same{
    float: none;
    text-transform: none;
  }

  input[type='text'], input[type='email'], input[type='select']{
    width: 220px;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    height: 30px;
    font-size: 15px;
    vertical-align: bottom;
  }

  #order_state_ship, #order_state_bill{
    margin-top: 6px;
    width: 220px;
  }

    img{
      width: 150px;
    }
}


.shipping_info{
  border-right: 1px solid #ccc;
}

.billing_form{
  margin-left: 20px;
}

// checkbox
.billing_same{
  font-size: 16px;
}

.billing_toggle{
  display: none;
}

.few_more_things{
  label{
    width: 800px;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
  }
}



#order_feedback_type{
  width: 300px;
  margin-left: 20px;
  float: left;
}

#order_is_gift, #order_feedback_type{
  text-transform: titleize;
}
