<section class="price_summary_wrapper">

  <h2>Order Summary</h2>

  <fieldset class='bold_price_field'>
    <label class = 'summary_label_left'>Subtotal</label>
    <div class="text_align-right">
      <label class = 'summary_label_right'>$350.00</label>
    </div>
  </fieldset>

  <fieldset>
    <label class = 'summary_label_left'>Packaging</label>
    <div class="text_align-right"><label class = 'summary_label_right packaging'>FREE</label></div>
  </fieldset>

  <fieldset>
    <label class = 'summary_label_left'>Shipping</label>
    <div class="text_align-right"><label class = 'summary_label_right'>$15.00</label></div>
  </fieldset>

  <fieldset>
    <label class = 'summary_label_left'>Tax</label>
    <div class="text_align-right"><label class = 'summary_label_right'>$12.36</label></div>
  </fieldset>

  <fieldset class='bold_price_field grand_total'>
    <label class = 'summary_label_left'>Total</label>
    <div class="text_align-right"><label class = 'summary_label_right'>$386.54</label></div>
  </fieldset>

  <input class="call_to_action_btn checkout_btn"type="submit" value='Proceed To Payment'>

</section>



<section class="price_summary_wrapper checkout_help_wrapper">

  <h6 class='free_returns'><i class="fa fa-star"></i>Free Returns</h6>
  <p class='weknow'>If you don't love your new photograph, no need to worry</p>
 <!--  <p>We offer a 14 day return policy and free return shipping.</p> -->

  <h6><i class="fa fa-arrow-circle-right"></i>Shipping Info</h6>
  <p>UPS Ground</p>
  <p>3-5 business days</p>


  <h6><i class="fa fa-question-circle"></i>Have A Question</h6>
  <p>Call us at 708.590.6437</p>
  <p>Mon-Sat:&nbsp;&nbsp;9am - 6pm</p>


</section>
