

<section class="checkout_wrapper">
  <section class="cart_wrapper">

    <h1>Your Photograph Collection</h1>
    <div class = 'number_items'>Items (2)<span class='buymore'>Buy 2 more and get 20% off!&nbsp;&nbsp;-&nbsp;&nbsp;Use code: &nbsp;<b class='savemore'>SAVEMORE</b></span></div>

    <%= render 'static_pages/shopping_cart/cart_item' %>
    <%= render 'static_pages/shopping_cart/cart_item' %>

  </section>

  <section class='payment_wrapper'>

    <%= render 'static_pages/shopping_cart/checkout_order_totals' %>

  </section>


</section>
