<section class="why_buy_wrapper">


<h3>3 reasons to purchase a photograph from HorschGallery.com
</h3>
<h4>We offer a full refund including initial shipping.</h4>
<p>If you aren't happy with your new photo, we'll refund everything. This includes: photo price + tax + initial shipping + free return shipping.</p>
<h4>We sell one-of-a-kind photographs.</h4>
<p>Unlike large e-commerce print and poster websites, our photographs are not mass produced.  Every Chicago picture was photographed and crafted entirely by gallery owner, Bob Horsch.</p>
<h4>We are a long standing & reputable, local family business.</h4>
<p>Since 1982, we have been selling high quality & affordable photos with two previous stores on Michigan Avenue.
</p>


</section>
