
<main class="static_page_main">

<h1>Upcoming Art Fairs
</h1>

<p>Interested in viewing our photography up close?  If you live in the Chicago area, come visit our exhibitor booth at one of the following art fairs this summer.
</p>


<p>Carl Sandburg - Orland Park, November 23-24
</p>
<p>One of a Kind -  Merchandise Mart, Dec 5-7
</p>

</main>
