<% content_for :meta_title do %>
Shopping Cart | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  Shopping Cart checkout out page for HorschGallery.com
<% end %>


<main class="cart_main">

<%= render 'static_pages/shopping_cart/checkout_section' %>


</main>



