<% content_for :meta_title do %>
Shopping Cart | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  Shopping Cart checkout out page for HorschGallery.com
<% end %>

<main class="cart_main">
  <div class="row stickem-container">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, class: 'success_flash' %>
    <% end %>
    <%= render 'static_pages/shopping_cart/cart_wrapper' %>
    <%= render 'static_pages/shopping_cart/payment_wrapper' %>
  </div>
</main>



