
<div class="static_page_wrapper">
<h1>Compare Sizes</h1>

<p>Are you having trouble deciding on a size?  Below you will find information that will help you choose the photograph size that is right for you or the recipient.
</p>

<h2>Helpful Links</h2>

<div><a href="#">Should I get the photograph framed?
</a></div>

<div><a href = "#">I'd like to view mat colors in more detail
</a></div>




<h2>Size Comparisons</h2>



<div class="compare_image_wrapper"><%= image_tag 'compare1.jpg' %>
  <div class="table_wrapper">
    <table>
  <thead>
    <td>Photo Only</td>
    <td>Photo w/ Mat & Frame</td>
  </thead>
  <tbody>
  <tr>
    <td>20" x 30"</td>
    <td>24" x 23"</td>
  </tr>
  <tr>
    <td>16" x 20"</td>
    <td>20" x 24"</td>
  </tr>
  <tr>
    <td>11" x 14"</td>
    <td>14" x 18"</td>
  </tr>
  <tr>
    <td>8" x 10"</td>
    <td>11" x 14"</td>
  </tr>
</tbody>
</table>

</div>
</div>



<h2>The Photo Shoot</h2>

<p>The goal of this project was to give you a sense of how the photographs differ in size.  Each set has a business card in the bottom left corner of the largest framed photograph for a scale of reference.</p>

<p>When we did this photo shoot we did not have the proper studio lighting so the images below showcase the photographs much brighter than we had hoped.  For a better representation of the photograph you will receive, please refer to the enlarged images (zoom in) on the product pages.</p>

</div>

