

<main class = 'confirmation_main'>

<h1>Thank you for choosing HorschGallery.com</h1>

<section class="whats_next">
  <h2>A Few Last Things</h2>
  <ul>
    <li>1. An order confirmation has been sent to your email.&nbsp;&nbsp;It contains full details of your order and shipping information.</li>
    <li>2. Sit back and relax.&nbsp;&nbsp;We package our photos to perfection so you can be confident your order will arrive in perfect condition.</li>
    <li>3. Start making room on the wall for your new photograph!&nbsp;&nbsp;or&nbsp;&nbsp;Do your best to keep a secret for the awesome gift you are giving.</li>
  </ul>
  <p>Thanks,<br>
    Bob Horsch, Owner
  </p>
</section>

<section class="social_sharing">
  <h2>Spread the love.  Share our photography with your friends and family</h2>

  <ul>
    <li class="fb-like" data-href="https://www.facebook.com/HorschGallery" data-width="250" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></li>
    <li><a href="https://twitter.com/PhotosOfChicago" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PhotosOfChicago</a>
    </li>
    <li><a class = 'pinterest_share' data-pin-do="buttonFollow" href="http://www.pinterest.com/horschgallery/">HorschGallery</a></li>
  </ul>

</section>

<section class="social_sharing">
  <h2>Watch a video.  30 years of Chicago photography. We love this city!</h2>
<iframe width="640" height="480" src="//www.youtube.com/embed/55TLE4FW6U8" frameborder="0" allowfullscreen></iframe>
</section>


</main>


<div id="fb-root"></div>
<script>
<!-- FACEBOOK -->
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// TWITTER
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- PINTEREST -->
<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>


