
<main class = 'confirmation_main'>

<h1>Thank you for choosing HorschGallery.com</h1>
<p>We live and breathe photography and we are grateful for your purchase.  You help us live out our life passion.</p>

<section class="whats_next">
  <h2>A Few Last Things</h2>
  <ul>
    <li>1. An order confirmation has been sent to the email address that you provided during the checkout process.</li>
    <li>2. You will also get an email from UPS with the tracking number once your order has been shipped.  (1-3 business days)</li>
    <li>3. Sit back and relax.  We package our photographs to perfection so you don't have to worry about the photographed getting damaaged.</li>
    <li>4. Start making room on the wall for your new photograph!</li>
  </ul>
</section>

<section class="social_sharing">
  <h2>Spread the love.  Share our photography with your friends and family</h2>
  <div>Facbook Sharing</div>
  <div>Pinterest Sharing</div>
</section>

<section class="social_sharing">
  <h2>Watch a video.  30 years of Chicago photography. We love this city!</h2>
<iframe width="640" height="480" src="//www.youtube.com/embed/55TLE4FW6U8" frameborder="0" allowfullscreen></iframe>
</section>



<h2>Thanks,<br>
  Bob Horsch, Owner
</h2>

</main>
