<link href="email.css" rel="stylesheet" type="text/css">

<p class='greeting'>Hi Jeff,</p>

<p class='regular_paragraph'>Thanks for purchasing a photograph from HorschGallery.com.</p>
<p  class='regular_paragraph'>Your order number is <span class='order_number'>2345</span>.</p>

<p class='regular_paragraph'>It will take 1-2 days to process and will then be shipped via UPS.  Once your package has shipped, you will receive an email from UPS containing the tracking number of your package.</p>



<p class='sub_header'>Order Summary</p>
  <table>
  <tr>
    <td class = 'gift'>*This order is being sent as a gift for someone so we will not include a receipt with the package.&nbsp;&nbsp;We hope it's the best gift they ever got!</td>
  </tr>
</table>

<table class="table_customer_info">
  <tr>
    <th class='bold_label'>Shipping Information</th>
    <th class='bold_label'>Billing&nbsp;Information</th>
  </tr>
  <tr>
    <td>Jeff Horsch</td>
    <td>Jeff Horsch</td>
  </tr>
  <tr>
    <td>1748 W Cortland St</td>
    <td>1748 W Cortland St</td>
  </tr>
  <tr>
    <td>Chicago, IL 60622</td>
    <td>Chicago, IL 60622</td>
  </tr>
  <tr>
    <td></td>
    <td><%= number_to_phone(3124513660, delimiter: ".") %></td>
  </tr>
  <tr>
    <td></td>
    <td>jhorsch@gmail.com</td>
  </tr>
</table>


<p class='sub_header'>Photograph Collection ( 2 Items )</p>

<table class='table_full_product'>
  <tr>
    <td>
      <img src="https://s3-us-west-2.amazonaws.com/hg-matted/260.jpg" alt="xxxxx" class='email_image'>
    </td>
    <td class='table_product_details'>
      <table>
        <tr>
          <td class='fix_cell_width'>Winter Reflections</td>
        </tr>
        <tr>
          <td class='fix_cell_width'>16x20 Photo w/ 20x30 Mat &amp; Frame</td>
        </tr>
        <tr>
          <td class='fix_cell_width'>Fog/Black</td>
        </tr>
        <tr>
          <td class='fix_cell_width'>Classic Black - Think Rounded</td>
        </tr>
        <tr>
          <td class='fix_cell_width'>Convert To B&amp;W</td>
        </tr>
        <tr>
          <td class='fix_cell_width'>ID: 260</td>
        </tr>
        <tr >
          <td class='qty_row'>Qty: 1</td>
        </tr>
      </table>
    </td>
    <td class='product_total_price'>$339</td>
  </tr>
</table>
xxxx
<p class='sub_header'>Totals</p>
<table class='table_totals'>
  <tr>
    <th class='bold_label'>Subtotal:</th>
    <th>$339.00</th>
  </tr>
  <tr>
    <td class='bold_label'>Tax:</td>
    <td>$15.36</td>
  </tr>
  <tr>
    <td class='bold_label'>Shipping:</td>
    <td>$34.95</td>
  </tr>
  <tr>
    <td class='bold_label'>Total:</td>
    <td>$415.95</td>
  </tr>
</table>

<p class='sub_header'>Customer Service</p>

<p class='regular_paragraph'>If you have any further questions, please reply to this email or check out website for more information.</p>

<p class='return_paragraph'><%= link_to 'www.horschgallery.com',  root_url %></p>

<p class='footer_paragraph'>Thanks,</p>
<p class='footer_paragraph'>Bob Horsch, Owner</p>



