<main class="static_page_main">

<h1>More Info</h1>



<h2>SHIPPING</h2>
<div class='question'>What carrier do you use for shipping?</div>
<div class='answer'>
  <p>All packages are shipped via UPS Ground and will take 3-5 business days.  You can find more info using the map below.</p>
  <img src="ups_shipping" alt="">
</div>

<div class='question'>Can you tell me more about Free Return Shipping?</div>


<div class='question'>How many days do I have to return an item for a full refund?</div>
  <div class='answer'>
    <p>We will except returns within 30 calendar days (not business days) of when you received the package.  You will be required to pay for return shipping if it is after 14 calendar days from when you received the package.  We will refund you for the TOTAL COST of the photograph including tax and shipping.  Read more about our free return shipping policy.</p>
  </div>



