
<div class="static_page_wrapper">
<div class="frames_wrapper">

<h1>Why frame your photograph at HorschGallery.com?
</h1>

<p>We use quality & affordable frames on our photographs and both styles will complement your home or office decor.</p>

<p>Don't waste extra time & money at a local frame store.  Let us custom frame the photograph and ship it right to you.</p>

<p>Go with a frame that has been tried and tested over the years instead of choosing between hundreds of options.</p>

<p>For over 30 years our classic black frame has been the most popular choice among customers.
</p>

<p>If you are not fully satisfied with your framed photograph, we offer full returns and free return shipping.
</p>

<p>The service was excellent and as always the quality of the photograph and framing is first rate.</p>
<span>-Ellen (05/13 customer)</span>


<h2>Classic Black - Thin Rounded
</h2>
<p>The depth measures 7/8" ( 1-1/2" for a 20x30 photo framed) and the width (profile) is thinner at 3/8".  It has a classic black metal moulding with a thin rounded face and is made by one of the leading producers of high quality frames, Nielsen Bainbridge.</p>

<%= image_tag 'frame_black_thin.jpg' %>

*Click on the image to view larger



<h2>Classic Black - Wide Flat</h2>
<p>The depth measures 3/4" and the width (profile) is a little thicker at 7/8".  It has a black metal moulding with a wider flat face and is made by one of the leading producers of high quality frames, Nielsen Bainbridge.</p>

<p>View our collection of black and white photographs with the single white mat and wide frame.</p>

<%= image_tag 'frame_black_thick.jpg' %>
*Click on the image to view larger


<h2>Comparison</h2>

<%= image_tag '/matted/bw12.jpg' %>
<%= image_tag '/matted/bw12wf.jpg' %>

</div>
</div>
