
<main class="static_page_main">


<h1>About The Photographers
</h1>
<p>For the last 30 years, Bob Horsch Gallery has focused solely on capturing the essence and ambiance of Chicago.  As much as we love this city, we've recently begun partnering with other photographers to showcase their images of other beautiful US cities and natural landscapes.
</p>

<p>Learn more about the photographers below.
</p>

<div class="artist_wrapper">
<ul>
<li>
<%= link_to( image_tag("bob_horsch.jpg"), "#") %>
<div><a href="#">Bob Horsch</a></div>
<p>Chicago Skyline & Chicago Sports</p>
</li>

<li>
<%= link_to( image_tag("della_huff.jpg"), "#") %>
<div><a href="#">Della Huff</a></div>
<p>San Francisco & Boston Cityscape</p>
</li>

<li>
<%= link_to( image_tag("nico_heins.jpg"), "#") %>
<div><a href="#">Jim Patterson</a></div>
<p>Oceanic Views & Rocky Landscapes</p>
</li>

</ul>
</div>



<h2>About The Graphic Designer
</h2>

<p>Also read more about our talented graphic designer who created our digital mat and frame images to better convey our physical product.
</p>

<div class="artist_wrapper">
<ul>
<li>
<%= link_to( image_tag("nico_heins.jpg"), "#") %>
<div><a href="#">Nico Heins</a></div>
<p>Visual Designer & Graphic Artist</p>
</li>
</ul>
</div>



<h2>Sell your photography on HorschGallery.com
</h2>

<p>Are you (or a friend or family member) an experienced photographer with a diverse collection of skyline, architectural or sports photographs from a large metropolitan city (besides Chicago) in the US?
</p>

<p>If so, we would love to view your photography collection and determine if your artwork fits the theme of HorschGallery.com.  All photographers receive a percentage of the sales and there is practically no work involved on your part.  If you are interested in this opportunity, please email Jeff Horsch at jhorsch@gmail.com to find out more information.
</p>

<p>Thanks,
Bob Horsch</p>


</main>
