
<main class="static_page_main">

<h1>100% Satisfication Is How We Do Business</h1>

<div class='the_facts'>In 2013, less than 1% of our customers returned their photograph(s).</div>

<h2><i class="fa fa-star"></i> Free Return Shipping</h2>

  <p>If you are still undecided on purchasing a photograph, the odds are on your side.  If for any reason you are not 100% satisfied, you can <span class='dotted_highlight'>return any photograph free of charge</span>.  You will also get a <span class='dotted_highlight'>full refund which includes the cost of initial shipping</span>.</p>

<h2><i class="fa fa-thumbs-o-up"></i> 14 Day Return Policy</h2>

<p>Please notify us within 14 calendar days (not business days) of when you received the package and we will send you a free return shipping label.  You will be ineligible for free return shipping if we are contacted past that time period.  </p>

<h2 class='return_divider'><i class="fa fa-tasks"></i>     Instructions For A Return</h2>
<p>Email us at <span class='dotted_highlight email_link'><%= mail_to 'horschgallery@gmail.com', nil, subject: 'HorschGallery Return', target: '_blank' %></span> and fill out the remaining details in the body of the email.
</p>

<div class='bodyemail'>Order #:</div>
<div class='bodyemail'v>Reason:</div>
<div class='bodyemail'>Name:</div>
<div class='bodyemail'>Phone Number:</div>


<p class='fixit'>Once we receive your return request we will send you another email with a UPS return shipping label which you can then place on the top of your return package.</p>

<h2><i class="fa fa-dropbox"></i> Return Packaging</h2>
<p>Please package the photograph(s) back up in the same (if not similar) fashion as how they were original sent to you.  Use as much cardboard and/or insulation as possible.  Also, if shipping back a framed photo, please use the cardboard corners which came with the print.</p>

<p>Unfortunately, we will not be able to credit you for the extra packaging materials such as a new box, bubble wrap, cardboard etc.   However, we will pay for the entire UPS return shipping fee when the package gets sent back to our warehouse.</p>

<p>Here is a sample of what the UPS return label will look like.  Just print this out from the UPS email and then attach it to the top of your return package.</p>

<%= image_tag 'ups_label.jpg', class: 'ups_label' %>


</main>
