<% content_for :meta_title do %>
Shopping Cart | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  hopping Cart checkout out page for HorschGallery.com
<% end %>


<main class="cart_main">


<%= render 'checkout_progress' %>
<%= render 'top_checkout_section' %>


</main>



