<% content_for :meta_title do %>
Shopping Cart | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  Shopping Cart checkout out page for HorschGallery.com
<% end %>


<div class="page_wrapper">


<%= render 'checkout_progress' %>
<%= render 'top_checkout_section' %>
<%= render 'why_buy' %>


</div>


