// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";
.search_main{

 padding: $main_page_side_padding;
  margin: 0px auto;
  text-align: center;

  h1{
    margin: 0px 0 10px 0;
  }

  h2{
    font-size: 26px;
  }

  .search_count{
    font-size: 20px;
    color: $orange_color;
    font-weight: bold;
  }

  .showing_pages{
    color: $dark_gray;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;

  }

.searchdivider{
  margin-top: 2px;
  border-top: 1px solid #ccc;
  margin-bottom: 50px;
}

  p{
    font-size: 18px;
  }

  .search_queary{
    border-bottom: 3px dotted $orange_color;
    font-size: 34px;
    font-family: $sans_serif;

  }

  .no_results{
    margin-bottom: 40px;
  }

  .sub_cat_search{
    text-align: left;
  }
}

