// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";
@import "base/library";

@include static_pages_base;
@include customer_quotes;

// REVIEWS


.reseller_widget{
  float: left;
  width: 15%;
}

reseller_text{
  float: left;
  width: 85%;
}

.resller{
  padding-bottom: 50px;

}
.testomonial_wrapper{
  border-top: 2px solid #ccc;
  padding-top: 0px;
  clear: both;
  width: 100%;
  font-size: 0px;

  section{
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

//RETRUNS

.the_facts{
  font-size: 22px;
  margin-bottom: 20px;
  font-style: italic;
}

.dotted_highlight{
  border-bottom: 2px dotted $orange_color
}
.ups_label{
  width: 200px;
  margin-left: 50px;
  margin-top: 20px;
}

.email_link{
  // font-weight: bold;
  a{
    color: $black_color;
  }
}

.fixit{
  margin-top: 20px;
}

.return_divider{
  border-top: 2px solid #ccc;
  padding-top: 40px;
}

//PHOTOGRAPHERS


.artist_wrapper{
  margin-top: 0px;
  li{
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    a{
      color: $black_color;
      font-family: $sans_serif;
      font-size: 24px;
    }
  }

  p{
    font-family: $sans_serif;
    font-size: 16px;
  }

   img{
    width: 150px;
    border-radius: 200px;
    display: inline-block;
    vertical-align: center;
   }

}


