@import "base/base";

.category_index_main{
  // padding: $main_page_side_padding;
  margin: 0px auto;
  text-align: center;

  p{
    font-size: 20px;
  }
}

.cat_photo_count{
  color: $orange_color;
  font-weight: bold;
}

.fotorama{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  background: $black_color;
}

.fotorama__caption{
  text-align: right;
}

.fotorama__caption__wrap{
  background: $black_color;
  padding: 0;
  margin: 0;
  // background: green;
  padding: 10px 10px;
  // border: 1px solid white;
}

.caption_link{
  // text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  a{
    color: $orange_color;
      padding: 10px 4px;

    text-decoration: none;
    border: none;


    &:hover{
      color: $orange_color;
    text-decoration: none;
    }
  }
}








