// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";

// MAIN BODY


.homepage{

  padding-bottom: 50px;

  h1{
    padding-top: 20px;
  }

  p{
      margin: 30px auto;
      padding: 20px 20px;
      line-height: 2em;
      font-size: 20px;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      width: 90%;

  }

  span{
    margin-left: 10px;
    font-size: 16px;
  }
}

  blockquote{
    font-size: 26px;
    font-style: italic;
    margin: 30px auto;
    padding: 20px 20px;
    line-height: 2em;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 90%;
  }

  h3.shop_tagline{
    font-size: 26px;
    margin: 0px 55px;

    font-weight: 600;
  }

  .starting_at{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    margin-left: -50px;
  }


.panorama_container {

  img{
    width: 100%;
  }

}


.photo-container-vert{
  margin: 0 auto;
  font-size: 0;
  width: 100%;
  text-align: center;
  margin: 20px 0;

  img{
    display: inline-block;
    width: 300px;
    margin: 0 5px 5px 0;
  }
}


.photo-container-horiz{
  margin: 0 auto;
  font-size: 0;
  width: 100%;
  text-align: center;
  margin: 20px 0;

}

.ind_imge{

    position: relative;
    display: inline-block;
    margin: 0 5px 5px 0;
    position: relative;

    display: inline-block;
    width: 22%;
    margin: 0 5px 5px 0;
    position: relative;

    img{
      width: 100%;
    }

}


.home_cat_title{

    font-size: 14px;
    font-weight: 400;
    position: absolute;
    text-align: left;
    padding: 5px 10px;
    bottom: 0px;
    left: 0px;

    background: $black_color;
    opacity: .95;
    color: white;
  }



.full_image{

width: 80%;
    margin: 0 auto;

  img{
    width: 100%;
    margin: 0 auto;
  }
}
