
@import "base/base";
@import "base/buttons";


.product_wrapper{
  // width: 500px;
  font-size: 0px;
  background: pink;
  @include col_grid(6);
  float: left;
}

.product_container {

  text-align: center;
  // background: pink;

}

.product{

  margin: 0 auto;
  text-align: center;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  width: 100%;

  img{
    width: 100%;
  }
  .social_buttons{
    width: 100px;
  }

}

.product_info_wrapper{

  @include col_grid(6);
  margin-right: 0px;
  background: yellow;

      padding-right: ($gutter_width*3) ;

}


.product_info{
  margin: 0 auto;
}



.photo_title_detail{

  color: $text_color;
  text-align: left;
}

.price{

  font-weight: bold;

}



.container_backdrop{

 // background-color: gray;
 background-color: #F0F0EC;
  border-left: 1px solid #D6D6D6;
  border-top: 1px solid #D6D6D6;
  border-right: 2px solid #D6D6D6;
  border-bottom: 2px solid #D6D6D6;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;

  h4{
  font-size: 24px;
  color: $black_color;
  margin-left: 50px;
}

}


.extra_product_wrapper{
  border-top: 1px solid #ccc;
  padding-top: 30px;
  width: 100%;
  margin-top: -40px;

}


 .ribbon {

  text-align: center;
  @include col_grid(11);
  margin-left: 50px;
  max-width: 100%;
  white-space: nowrap;
  clear: both;

  img{
    display: inline-block;
    padding: 10px 12px 0px 12px;
    width: 12%;
  }

}




// EXTRA STUFF

.hardsell{

    clear: both;
}

.labeltag{
  width: 100px;
  text-align: left;
  border: 2px solid black;
}



.stars{
  color: #E5BB3E;
}




p.quote {
    width: 90%;
    margin: 20px auto;
    position: relative;
    left: 2%;
    font-family: 'Georgia', serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.4em;


}

p.quote:before, p.quote:after {
    color: lightgray;
}

p.quote:before {
    content: '\201C';
    font-size: 80px;
    position: absolute;
    left: -40px;
    top: 15px;
}

p.quote:after {
    content: '\201D';
    font-size: 65px;
    position: relative;
    left: 0;
    top: 25px;
    float: right;
}





