// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";

// MAIN BODY


.homepage{

  padding-bottom: 50px;

  h1{
    padding-top: 20px;
  }

  p{
      margin: 50px auto;
      padding: 40px 20px;
      line-height: 2em;
      font-size: 20px;
      text-align: center;
      border-top: 2px solid #aaa;
      border-bottom: 1px solid #ccc;
      width: 90%;

  }

  .p_tagline{
     margin: 20px auto 2px auto;
     padding: 0px 20px 40px 20px;
     border-top: none;
  }


  .customer_testomonial{

      margin: 60px auto;
      // background: yellow;
      padding: 0px 25px;
      line-height: 1.3em;
      font-size: 26px;
      text-align: center;
      border: none;
      border-left: 5px solid $orange_color;
      color: fade-out($orange_color, .2);
      font-style: italic;
      width: 80%;
      font-size: 40px;
      text-align: left;


  }

  span.customer_name{
    color: $red_color;
    font-family: serif;
    font-size: 14px;
    display: block;
    font-style: normal;

  }


  blockquote{

    font-size: 28px;
    font-style: italic;
    margin: 50px auto;
    padding: 30px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 90%;
    color: fade-out($black_color, .2);


  }

  h3.shop_tagline{
    font-size: 26px;
    margin: 0px 55px;
    font-weight: 600;
    border-top: 1px solid #ccc;
    padding-top: 30px;


  }

  h3.shop_gifts_cta{
    font-size: 26px;
    margin: 0px 130px;
    font-weight: 600;
  }

  .starting_at{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    margin-left: 10px;
    font-size: 16px;
  }

  .start_browsing{
    a{
    color: #4C7A8A;

    }
    font-size: 30px;
    font-weight: 800px;
  }
}
 .fa-arrow-right{
    margin-left: 5px;

 }

.panorama_container {

  img{
    width: 100%;
    box-shadow: 0px 5px 2px #bbb;
    margin-top: -50px;
    opacity: 1;
  }

}


// PHOTO CONTAINERS

.gallery_template{

  margin: 20px auto;
  font-size: 0;
  width: 100%;
  text-align: center;


  .ind_imge{

      position: relative;
      display: inline-block;
      margin: 0 5px 5px 0;
      position: relative;
      width: 22%;


      img{
        width: 100%;
      }

  }

  h4.home_cat_title{

      font-size: 14px;
      font-weight: 400;
      position: absolute;
      text-align: left;
      padding: 5px 10px;
      bottom: 0px;
      left: 0px;

      background: $black_color;
      opacity: .95;
      color: white;
    }


}

.featured_gallery{
  @extend .gallery_template;
}

.vertical_gallery{

  @extend .gallery_template;
  .ind_imge{
    margin: 0 10px 10px 0;
    width: 27%;
  }

}

.top_gifts_gallery{

  @extend .gallery_template;
  .ind_imge{
    margin: 0 5px 5px 0;
    width: 25%;
  }
}

.color_to_bw_gallery{

  @extend .gallery_template;
  .ind_imge{
    margin: 0 5px 0px 0;
    width: 500px;
  }
}

.single_gallery{

  @extend .gallery_template;
  .ind_imge{
    width: 900px;
  }
}


