
@import "base/base";
@import "base/buttons";

.page_wrapper{
  padding: 0px 40px;
}


.breadcrumbs{

  color: #aaa;
  font-size: 16px;
  margin: 0px 0 15px 0;
  width: 49%;
  text-align: left;
  a{
    color: fade-out($black_color,.2);
    text-decoration: underline;
    font-size: 16px;
    padding: 0 5px;
    &:first-child{
      padding-left: 0px;
    }

    &:hover{
      color: $orange_color;
    }
  }
}




.product_wrapper{

  float: left;
  width: 500px;
  margin-right: 50px;

  // background: yellow;
  text-align: center;

  img{
  width: 100%;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  opacity: 1;

  }
  .artist{
  font-size: 16px;
  }

  .watermark{
    margin-bottom: 20px;
  }
  .share_wrapper{

      div{
        display: inline-block;
        vertical-align: bottom;
      }
  }

  .social_buttons{

    width: 200px;
  }


}


.product_info_wrapper{

  float: left;
  width: 450px;
  // background: yellow;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 50px;



  h1{
    font-size: 28px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;

  }

  .option_row{
    margin-bottom: 15px;
    font-weight: bold;
  }


  label{
    width: 170px;
    float: left;
    font-size: 18px;
  }

  select {
  height: 24px;
    .dropdown select {
      border: 5px !important;.
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .free_return_shipping{
    font-size: 14px;
    color: $blue_color;
  }

  .price{
    float: none;
    font-weight: bold;
    color: $red_color;
  }

  .fa-usd{
    font-size: 16px;
    color: $red_color;
    font-weight: bold;
  }

  .product_text{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.2em;
    padding: 0px 0 30px 0;
    margin-bottom: 30px;
  }

}


.recommended_photoset_wrapper {

  clear: both;
  padding-top: 20px;
   border-top: 1px solid #ccc;
  border-bottom: 10px solid #666;
  // background: yellow;
  margin-bottom: 80px;

  h3{

    font-size: 24px;
    color: $black_color;
    margin-bottom: 20px;

  }

  li{

    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 0px 58px 30px 0px;

    &:last-child{
      margin-right: 0px;

    }

  }

  img{

    width: 100%;

  }

  h4{

    font-size: 18px;
    color: $dark_gray;

  }


}










// EXTRA STUFF

.hardsell{

    clear: both;
}

.labeltag{
  width: 100px;
  text-align: left;
  border: 2px solid black;
}



.stars{
  color: #E5BB3E;
}




p.quote {
    width: 90%;
    margin: 20px auto;
    position: relative;
    left: 2%;
    font-family: 'Georgia', serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.4em;


}

p.quote:before, p.quote:after {
    color: lightgray;
}

p.quote:before {
    content: '\201C';
    font-size: 80px;
    position: absolute;
    left: -40px;
    top: 15px;
}

p.quote:after {
    content: '\201D';
    font-size: 65px;
    position: relative;
    left: 0;
    top: 25px;
    float: right;
}





