
@import "base/base";
@import "base/buttons";

.breadcrumbs{
  padding: 0px;
  margin: 20px 10px 20px 25px;
  padding-top: 30px;
  color: #aaa;
  font-size: 14px;
  a{
    color: fade-out($black_color,.2);
    text-decoration: underline;
    font-size: 18px;
    padding: 0 5px;

  }
}

  .container_backdrop{

    padding: 10px 0;

}


.product_wrapper{

  float: left;
  width: 600px;
  padding-bottom: 30px;
  // background: green;


}

.product_container{

    width: 90%;
    margin: 0 auto;

    text-align: center;



    img{
      width: 100%;
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;

    }
    .artist{
      font-size: 16px;
    }

    .social_buttons{
      width: 225px;
      margin-top: 10px;
    }


}

.product_info_wrapper{

  float: left;
  width: 480px;
  // background: yellow;
  padding: 0 20px;
}

.product_info{
  margin: 0 auto;
  // background: red;

.photo_title_detail{
  margin-bottom: 10px;
}

.options_wrapper{
  margin: 20px 0 20px 0;

  .detail_field{
    margin-bottom: 20px;
    font-weight: bold;
  }

}

 h1{
    font-size: 24px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
  }
  label{

    width: 200px;
    float: left;
    // background: blue;
    padding: 0;
  }

   select {
    height: 24px;
  .dropdown select {
      border: 5px !important;.
     -webkit-appearance: none;
     -moz-appearance: none;
  }
  }


  .price{
    float: none;
    font-weight: bold;
  }

  .product_text{
    border-top: 1px solid #ccc;
    margin: 20px 0;
    padding-top: 20px;
  }
}


.recommend_product_wrapper{

  clear: both;
  border-top: 1px solid #ccc;
  padding: 20px 0;



  h4{
    font-size: 24px;
    color: $orange_color;
    margin-left: 50px;

  }



  .recommend_product_container {
    text-align: center;
    @include col_grid(11);
    margin-left: 50px;
    max-width: 100%;
    white-space: nowrap;
    border-bottom: 10px solid fade-out($black_color,.2);
    padding: 20px 0;

  }

  img{
    display: inline-block;
    margin: 0px 15px 0px 0px;
    width: 15%;

    // box-shadow: 2px 2px 2px #ccc;
  }



}




// EXTRA STUFF

.hardsell{

    clear: both;
}

.labeltag{
  width: 100px;
  text-align: left;
  border: 2px solid black;
}



.stars{
  color: #E5BB3E;
}




p.quote {
    width: 90%;
    margin: 20px auto;
    position: relative;
    left: 2%;
    font-family: 'Georgia', serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.4em;


}

p.quote:before, p.quote:after {
    color: lightgray;
}

p.quote:before {
    content: '\201C';
    font-size: 80px;
    position: absolute;
    left: -40px;
    top: 15px;
}

p.quote:after {
    content: '\201D';
    font-size: 65px;
    position: relative;
    left: 0;
    top: 25px;
    float: right;
}





