@import "base/base";

.fotorama{
  margin: 0 auto;
  width: 98%;
  margin-top: -50px;
  margin-bottom: 30px;

  li{
    vertical-align: bottom;
  }

}

.direction_wrapper{
  border-top: 1px solid #ccc;
  margin-bottom: 0px;
  text-align: center;
  padding: 50px 0 50px 0;
  // background: yellow;

h2{
  font-size: 36px;
  color: $orange_color;
  font-weight: bold;
  text-decoration: underline;

}

.directions{
  margin-bottom: 10px;
  font-size: 24px;

}
}


