<div class="sub_menu_container sub_menu_small">

<div class="nav_column">

<div class="main_cat_grouping">
<div class='menu_main_category'>San Francisco</div>
<ul>
<%  find_categories('San Francisco').each do  |category| %>
<li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>
</div>

<div class="nav_column">
<div class="main_cat_grouping">
<div class='menu_main_category'>Boston</div>
<ul>
<%  find_categories('Boston').each do  |category| %>
<li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>
</div>

</div>
