<div class="checkout_progress">
  <ul>
  <li class = 'progress_active'>Shopping Cart</li><i class="fa fa-arrow-right"></i>
  <li>Payment</li><i class="fa fa-arrow-right"></i>
  <li>Confirmation</li>
</ul>
</div>
