@import "base/base";

.feature_content_wrapper{
  text-align: center;
  font-family: $sans_serif;
  margin-top: 40px;


   h2{
      font-size: 30px;
      color: $black_color;
      border-bottom: 3px solid $black_color;
      margin: 40px 0;
      text-transform: uppercase;
    }

  li{
    display: inline-block;
    vertical-align: top;
    width: 465px;
    margin: 0 10px 30px 0;
    &:nth-of-type(even){
      margin-right: 0;
    }

    .image_title{
      font-size: 20px;
      font-family: $sans_serif;
      color: $dark_gray;
    }

    .image_text{
      text-align: left;
    }

    .frame_detail{
      border: 1px solid $black_color;
    }

    img{
      margin-bottom: 20px;
    }

  }


}


