



<% @featured.each do |photo| %>
<div class="ind_imge">

  <a href=<%= category_url(photo.category) %>><%= image_tag "https://s3-us-west-2.amazonaws.com/hg-image/#{photo.id_num.downcase}.jpg" %></a>
<h3 class='home_cat_title'><%= link_to photo.sub_category, category_url(photo.category) %></h3>

</div>
<% end %>




