


<% @top_gifts.each do |photo| %>
<div class="ind_imge">
  <a href=<%= photo_url(photo) %>><%= image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{photo.id_num.downcase}.jpg", alt: "#{photo.rotating_keyword.downcase}-of-#{photo.title.downcase.parameterize}") %></a>

</div>
<% end %>



