



<% @verticals.each do |photo| %>
<div class="ind_imge">
  <a href=<%= photo_url(photo) %>><%= image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{photo.id_num.downcase}.jpg", alt: "#{photo.rotating_keyword.downcase}-of-#{photo.title.downcase.parameterize}") %></a>
<h3 class='home_cat_title'><%= link_to photo.sub_category, category_url(photo.categories) %></h3>

</div>
<% end %>

