/*COLORS*/

$black_color: #333;
$gray_color: #D7D7D7;
$white_color: #D0CAC9;
$red_color:  #8D3226;
$orange_color: #DA7C05;
$green_color: green;
// $orange_color: #C27D08;

$main_body_width: 1100px;

// FONTS
$serif: 'Garamondbw130
', serif;
$sans_serif: 'Cabin Condensed', sans-serif;


// font-family: 'Tinos', serif;
// font-family: 'IM Fell French Canon', serif;
// font-family: 'Quattrocento', serif;

// $link_color: #3782C4;
// $background_color: #e8e7ec;
// $text_color: #262620;


// ELEMENTS

body {
   font-size: 16px;
  background: #eee;
  font-family: serif;
  line-height: 1.5;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;

  &:visited {
    // color: #666;
  }
  &:hover {


  }
}


img{
  opacity: .95;
  width: 100%;
  &:hover{
    opacity: 1;
  }
}
%group:after {
    display: table;
    clear: both;
    content: "";
}


/*HEADERS  */
h1,h2,h3,h4,h5,h6, label, select {

  font-family: $sans_serif;
}


h1 {

  font-size: 34px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

}

h2 {

  margin-top: 0px;
  font-size: 18px;

}

h3 {
  margin-top: 20px;

}


// PARAGRAPHS


p, blockquote, span {
    font-family: $serif;
    color: $black_color;

    // margin: 40px 0;

}

li {
  font-family: $serif;
}

select{
  font-size: 14px;
}


// GRID LAYOUT

$max_width: $main_body_width;
$col_width: 90px;
$col_count: 12;

$gutter_width: ($max_width - ($col_count * $col_width)) / ($col_count - 1);


@mixin col_grid($num_cols) {


    width: ($col_width * $num_cols) + ($gutter_width * ($num_cols - 1));
    margin-bottom: $gutter_width*6;
    margin-right: $gutter_width;
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}



/*ERRORS*/

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
