@import "base/base";

.button_wrapper{

  margin-bottom: 30px;

  li{
    display: inline-block;
    vertical-align: top;

  }

  .addcart{
    margin-right: 10px;
  }
}
.addcart{

    background: $orange_color;
    width: 400px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid darken($orange_color,.9);
    display: inline-block;
    outline: none;


      &:hover{
        background:  #DE890B;
      }

}

.fav_button {

    background: #ccc;
    width: 100px;
    text-align: center;
    color: $black_color;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 0;
    outline: none;
    margin-bottom: 13px;
    border-radius: 5px;
    border: 1px solid darken(#aaa,.9);

}

.fa-heart{
  font-size: 16px;
}

.fav_button:hover, .fav_button:active {
  background-color: #E8E8E7;
  text-decoration: none;
  color: black;
}
