@import "base/base";

.addcart{

    background: $orange_color;
    width: 380px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid darken($orange_color,.9);
    display: inline-block;


      &:hover{
        background:  #DE890B;
      }


}

.fav_button {

    background: #ccc;
    width: 50px;
    text-align: center;
    color: $black_color;
    height: 40px;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;


    border-radius: 5px;
    border: 1px solid darken(#aaa,.9);



}


.fav_button:hover, .fav_button:active {
  background-color: #E8E8E7;
  text-decoration: none;
  color: black;
}
