@import "base/base";

.call_to_action_btn{

    background: fade-out($orange_color,.2);
    width: 100%;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid darken($orange_color,.9);
    display: inline-block;
    outline: none;
    margin-bottom: 20px;


      &:hover{
        background:  $orange_color;
      }

}

.fav_button {

    background: #eee;
    width: 100px;
    text-align: center;
    color: $black_color;
    font-size: 14px;
    cursor: pointer;
    padding: 2px 0;
    outline: none;
    margin-bottom: 13px;
    border-radius: 5px;
    border: 1px solid darken(#aaa,.9);

}

.fa-heart{
  font-size: 16px;
}

.fav_button:hover, .fav_button:active {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}
