@mixin bg-size($size: 100% auto) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}

@mixin arrow-up($color:black, $thickness:6px) {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-color: transparent transparent $color transparent;
    border-style: solid;
    border-width: $thickness;
}


@mixin static_pages_base {

 .static_page_main{
  padding: $main_page_side_padding;
    margin: 0 auto 60px auto;
    text-align: left;

    h1{
      color: $orange_color;
      margin-bottom: 20px;
      font-size: 32px;
    }

    h2{
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 10px;
      border-top: 2px solid #ccc;
      padding-top: 20px;
    }


    p{
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.2em;
    }

    p.customer_testomonial{
      font-size: 30px;
      margin-bottom: 80px;
      color: fade-out($black_color,.1);
      font-style: normal;

    }



  }
}

@mixin customer_quotes{

 .customer_testomonial{

      margin: 80px auto;
      // background: yellow;
      padding: 0px 25px;
      line-height: 1.3em;
      font-size: 34px;
      text-align: center;
      border: none;

      border-left: 5px solid $orange_color;

      color: fade-out($orange_color, .2);
      font-style: italic;
      width: 80%;
      font-size: 40px;
      text-align: left;
  }

  .quote1{
      border-left: 5px solid $orange_color;
  }
 .quote2{
      border-left: 5px solid #533771;
  }
   .quote3{
      border-left: 5px solid #3B8BD2;
  }
   .quote4{
      border-left: 5px solid #34828F;
  }
   .quote5{
      border-left: 5px solid #BC5571;
  }
   .quote6{
      border-left: 5px solid #769063;
  }
  span.customer_name{
    color: $light_gray;
    font-family: serif;
    font-size: 14px;
    display: block;
    font-style: normal;

  }
}
