@mixin bg-size($size: 100% auto) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}

@mixin arrow-up($color:black, $thickness:6px) {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-color: transparent transparent $color transparent;
    border-style: solid;
    border-width: $thickness;
}


@mixin static_pages_base {

 .static_page_main{
  padding: $main_page_side_padding;
    margin: 0 auto;
    text-align: left;

    h1{
      color: $orange_color;
      margin-bottom: 20px;
      font-size: 32px;
    }

    h2{
      font-size: 24px;
      margin-top: 40px;
    }


    p{
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.2em;
    }

    p.customer_testomonial{
      font-size: 34px;
      margin-bottom: 80px;
    }
  }
}

@mixin customer_quotes{

 .customer_testomonial{

      margin: 80px auto;
      // background: yellow;
      padding: 0px 25px;
      line-height: 1.3em;
      font-size: 26px;
      text-align: center;
      border: none;
      border-left: 5px solid $orange_color;
      color: fade-out($orange_color, .2);
      font-style: italic;
      width: 80%;
      font-size: 40px;
      text-align: left;


  }

  span.customer_name{
    color: $red_color;
    font-family: serif;
    font-size: 14px;
    display: block;
    font-style: normal;

  }
}
