<% content_for :meta_title do %>
Payment Details | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  Payment Details page for HorschGallery.com
<% end %>

<main class ='payment_main'>
  <div class="row stickem-container">
    <%= form_for @order, method: :post do |f| %>
      <%= f.label 'test' %>
      <%= render 'static_pages/shopping_cart/customer_details_wrapper', object: f %>
      <%= render 'static_pages/shopping_cart/payment_wrapper' %>
    <% end %>
  </div>
</main>
