
@import "base/base";


.body_container {
  margin: 0 auto;
  width: $main_body_width;
  background: white;
  position: relative;
}


.header_space_holder{
  height: $total_nav_height;
  display: block;
  position: relative;
}

.header_space_holder_extra{
  height: $total_nav_height + 40px;
  display: block;
  position: relative;
}

header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

@media only screen and (max-width: $mobile_width)  {

  header {
    position: relative;
    z-index: 500;
    display: block;
    width: 100%;
  }

  .header_space_holder{
    height: 10px;
    display: block;
    position: relative;
    margin-bottom: 20px;
  }


}
//SALE NAV
.sale_nav{
  width: 100%;
  background: #eee;
}

.sale_nav_content{
  display: block;
  width: $main_body_width;
  height: $sale_nav_height;
  margin: 0 auto;
  color: $red_color;
  background: #eee;
  text-align: center;
  padding: 5px 20px 0 20px;
  font-family: $sans-serif;
  font-size: 16px;

  a{
    color: $black_color;
    &:hover{
      text-decoration: underline;
      color: $black_color;

    }
  }


}

// TOP NAVIGATION

form{
  display: hidden;
}
.top_nav{
  width: 100%;
  background: $black_color;
}

.top_nav_content {

  display: block;
  width: $main_body_width;
  height: $top_nav_height;
  padding: 10px 10px;
  background: $black_color;
  color:  white;
  font-size: 16px;
  margin: 0 auto;


  li {
    display: inline-block;
    // float: left;
    vertical-align: bottom;
    text-transform: capitalize;

    a{
      color: #ccc;
      &:hover{
        color: $orange_color;
      }
    }

  }

  .logoname{

    border-right: 1px solid #ccc;
    a{
      color: #eee;
      font-family: $logo_font, sans-serif;
      font-size: 20px;
      padding-right: 15px;
      &:hover{
        color: #eee;
      }
    }
  }

  input[type="search"] {
    width: 400px;
    height: 32px;
    border-radius: 100px;
    outline: none;
    padding: 0 10px 0 35px;
    font-size: 16px;
    margin-left: 15px;
    border: 1px solid #bbb;
    background: #e6e6e6;
    color: $black_color;
    &:focus, &:hover{
      border: 1px solid $orange_color;
    }

  }

::-webkit-input-placeholder {
   color: $dark_gray;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $dark_gray;
}

:-ms-input-placeholder {
   color: $dark_gray;
}



  .hide_search_button{
    display: none;
  }

  .fa-search{
    color: $orange_color;
    margin-left: -395px;
    padding-bottom: 7px;
    font-size: 20px;
  }

  .search_button{
    cursor: pointer;
  }

  .account {
    margin-left: 100px;
    font-family: $sans-serif;
    font-size: 20px;

  }

  .photographers{
    margin-left: 40px;
    font-family:  $sans-serif;
    font-size: 20px;

 }

  .fa-shopping-cart, .fa-camera-retro{
    color: $orange_color;
    margin-right: 10px;
    font-size: 20px;
  }


}

// BOTTOM NAVIGATION
.bottom_nav {
  width: 100%;
  background: white;
  border-bottom: 4px solid #ddd;
  font-family: $sans-serif;
}

.bottom_nav_content {
  margin: 0 auto;
  display: block;
  height: $bottom_nav_height;
  width: $main_body_width;
  vertical-align: top;
  font-size: 0px;
  background: $white_color;
  padding-top: 10px;

  // MAIN MENU
  li.main_menu{

    font-family: $sans-serif;
    display: inline-block;
    position: relative;
    height: 40px;


    }

    .main_menu_link{
      padding: 0px 40px 0 0;
      color: $black_color;
      font-weight: bold;
      font-size: 20px;
      &:first-child{
        margin-left: 10px;
      }

    }

    .browse{
      color: $orange_color;
      margin-left: -4px;
      &:visited{
        color: $orange_color;
      }
    }

}

//SHOW ACTIVE LINKS
.current_link{
  color: $orange_color;
}

.disable_link{
  color: $black_color;
}


.main_menu:hover > .sub_menu_container {
  opacity: .99;
  visibility: visible;
  overflow: visible;
 -webkit-transition: all 5s ease .15s;
}



.main_menu a:hover, .main_menu a:active{
  color: $orange_color;
}

.main_cat_grouping {

    margin: 0px 0px 20px 0;
    font-size: 16px;
    font-family: $sans-serif;


    a {
      color: $black_color;
      font-family: $sans-serif;
      &:hover {
        text-decoration: none;
        color: orange_color;
      }
    }

    a.menu_main_category{
      font-weight: bold;
      text-transform: uppercase;
    }

    li{
      font-size: 16px;
      padding-left: 10px;
      margin-bottom: 3px;
      &:first-child{
        margin-top: 3px;
      }
      &:last-child{
        margin-bottom: 0px;
      }
      a{
        color: fade-out($black_color,.2);
      }
    }
}


/* SUB MENU CONTAINER */
.sub_menu_container  {
  position: absolute;
  z-index: 800;
  top: 110%;
  left: 0;
  font-family: $sans-serif;

  width: 580px;
  margin-top: -4px;
  margin-left: 10px;
  padding: 15px;

  background: white;
  border-radius: 3px;
  border: 3px solid $orange_color;
  box-shadow: 5px 5px 20px #ccc;

  opacity: .99;
  visibility: hidden;
  overflow: hidden;

  &:before {
      content: '';
      position: absolute;
      top: -22px;
      left: 15px;
      border-color: transparent transparent $orange_color transparent;
      border-style: solid;
      border-width: 10px;
      width: 0;
      height: 0;
  }

}

.nav_column{
  float: left;
  margin: 0 35px 0px 0px;
}

.nav_column2{
  float: left;
  margin: 0 0px 0px 0px;
}

.sub_menu_small {
    width: 260px;
}





