@import "base/base";


.fb-like{
      margin-top: 20px;
    }

//TOP FOOTER
.top_footer{
  width: $main_body_width;
  margin: 40px auto 0 auto;
  padding: 60px 20px 30px 20px;
  border-top: 2px dotted #ccc;

  .footer_info{
    width: 150px;
    margin: 0 40px 0px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    &:last-child{
      margin-right: 0px;
     width: 80px;

    }


    .footer_section_title{
      color: dark_gray;
      font-weight: bold;
      text-transform: uppercase;
    }

    li{
      font-family: $sans-serif;
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      a{
        color: $light_gray;
        &:hover{
          color: $orange_color;
        }
      }
    }

    li.top_of_page{

      background: #eee;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      border: 1px solid $light_gray;
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-right: 0px;
      &:hover{
        border: 1px solid $orange_color;
      }

      a{
        color: $light_gray;
        &:hover{
          color: $orange_color;
        }
      }
    }

    .fa-arrow-up{
      font-size: 34px;
    }


  }
}


// bottom footer
.bottom_footer{

  width: 100%;
  background: #eee;

  .bottom_footer_wrapper{

    width: $main_body_width;
    margin: 0 auto;
    padding: 15px 0px;


    .social_media{
      display: inline-block;
      width: 50%;

      img{
        width: 50px;
      }
      .pinterest{
        color: red;
      }
      .facebook{
        color: blue;
      }
      li{
        display: inline-block;
        vertical-align: bottom;
        margin-right: 50px;
      }
    }



    .pinterest_share{
      width: 200px;
    }
    .copyright{

      width: 49%;
      display: inline-block;
      text-align: right;
      color: $light_gray;

    }
  }




}




