
@import "base/base";

.body_container {

  margin: 0 auto;
  width: $main_body_width;
  background: white;
}

.maincontent{

  margin-top: 90px;
  // padding: 0 20px;

  }

header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}


// TOP NAVIGATION

.top_nav{
  width: 100%;
  background: $black_color;
}

.top_nav_content {

  display: block;
  width: $main_body_width;
  height: 50px;
  padding: 10px 10px;
  background: $black_color;
  color:  white;
  font-size: 16px;
  margin: 0 auto;


  li {
    display: inline-block;
    // float: left;
    vertical-align: bottom;
    text-transform: capitalize;

  }



  .logoname{

    font-family: "Kozuka Mincho Pro", sans-serif;
    font-size: 20px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
    color: #fff;
  }

  input[type="text"] {
    width: 400px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    margin-left: 15px;
  }

  .fa-search{
    color: $black_color;
    margin-left: -35px;
    padding-bottom: 5px;
    font-size: 20px;
  }

  .account {
    margin-left: 130px;
    font-family: "Arial";
    text-transform: uppercase;

  }

  .photographers{
    margin-left: 40px;
    font-family: "Arial";
    text-transform: uppercase;

 }

  .fa-shopping-cart{
    color: $orange_color;
    margin-right: 10px;
    font-size: 20px;
  }


}

// BOTTOM NAVIGATION

.bottom_nav {
  width: 100%;
  background: $gray_color;
  border-bottom: 2px solid $black_color;
}

.bottom_nav_content {

  margin: 0 auto;
  display: block;
  width: $main_body_width;
  height: 40px;
  padding-top: 5px;
  vertical-align: center;

  font-size: 0px;
  background: $gray_color;

  // MAIN MENU

  li.main_menu{

    display: inline-block;
    position: relative;
    height: 40px;
    padding: 0 50px 0 4px;

    h2  a{
      // background: green;
      padding: 5px;
      color: $black_color;
      font-size: 20px;

      &:visited{
      color: $black_color;

      }
    }






  }


}




.main_menu:hover > .sub_menu_container {

  opacity: .98;
  visibility: visible;
  overflow: visible;
 -webkit-transition: all 5s ease .15s;

}

.main_cat_grouping {

    margin: 0px 0px 10px 0;

    font-size: 16px;
    color: white;

    a {
      color: $gray_color;
      &:hover {
        text-decoration: underline;
      }
    }

    h3{
      margin: 0px 0 5px 0;
      color: $orange_color;
    }

    li{
      padding-left: 10px;
      margin-bottom: 3px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
}


/* SUB MENU CONTAINER */

.sub_menu_container  {

  position: absolute;
  z-index: 800;
  top: 110%;
  left: 0;


  width: 650px;
  margin-top: -9px;
  margin-left: 10px;
  padding: 15px;


  background: #222;
  border-radius: 3px;

  opacity: .98;
  visibility: hidden;
  overflow: hidden;

  &:before {
      content: '';
      position: absolute;
      top: -16px;
      left: 15px;
      border-color: transparent transparent #222 transparent;
      border-style: solid;
      border-width: 8px;
      width: 0;
      height: 0;
  }

}

.nav_column{

  float: left;
  margin: 0 40px 0px 0px;

}

.sub_menu_end {

    width: 225px;

}




// FOOTER
footer{
  text-align: center;
  padding: 20px;
 border-top: 5px solid #ccc;
  color: $black_color;
}
