<div class="color_to_bw_gallery">
<% @color_to_bw.each do |photo| %>
<div class="ind_imge">
<a href="">
  <a href=<%= photo_url(photo) %>><%= image_tag "image/#{photo.id_num.downcase}.jpg" %></a>
</a>
</a>
</div>
<% end %>

</div>
