<div class="featured_gallery">



<% @featured.each do |photo| %>
<div class="ind_imge">

  <a href=<%= category_url(photo.category) %>><%= image_tag "image/#{photo.id_num.downcase}.jpg" %></a>
<h4 class='home_cat_title'><%= photo.sub_category %></h4>

</div>
<% end %>



</div>
