<div class="photo-container-horiz2x3">



<% @photoset2x3.each do |photo| %>
<div class="ind_imge">
<a href="">
  <a href=<%= category_url(photo.category) %>><%= image_tag "image/#{photo.id_num.downcase}.jpg" %></a>
<h4 class='home_cat_title'><%= photo.sub_category %></h4>
</a>
</a>
</div>
<% end %>



</div>
