<div class="single_gallery">

<% @single.each do |photo| %>
<div class="ind_imge">
  <a href=<%= photo_url(photo) %>><%= image_tag "#{photo.id_num.downcase}.jpg" %></a>


</div>
<% end %>





</div>
