

<div class="photo-container-vert">

<% @verticals.each do |photo| %>
<div class="ind_imge">
<a href="">
  <a href=<%= photo_url(photo.id) %>><%= image_tag "image/#{photo.id_num.downcase}.jpg" %></a>
<h4 class='home_cat_title'><%= photo.sub_category %></h4>
</a>
</a>
</div>
<% end %>
</div>
