@import 'base/base';
@import 'base/library';

@include static_pages_base;
@include customer_quotes;

.testjeff{
  color: $orange_color;
}

.reveal-modal{
  p{
  font-family: $serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.3;

  }
}

.comparison_wrapper{
  margin: 0px auto;
  // background: green;

  .ind_frame_wrapper{
  width: 45%;
  margin-right: 35px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  position: relative;

  .frame_title{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .frame_desc{
    margin-bottom: 30px;
  }

  .frame_detail{
    width: 100%;
    border: 1px solid $dark_gray;
    margin-bottom: 20px;
  }


}

}

  .thick_frame{
    margin-right: 0px;
    margin-bottom: 0px;
  }

