@import 'base/base';
@import 'base/library';

@include static_pages_base;
@include customer_quotes;

.fancybox_hidden{
  display: none;
}


.modal{

  h1{
      color: $orange_color;
      margin-bottom: 10px;
    }

  p{
  font-family: $serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
   margin-bottom: 10px;

  }
}

.ind_frame_wrapper{
    margin-right: 45px;
  }


.comparison_wrapper{
  margin: 20px auto 0 auto;
  // background: green;

  li{
  width: 47%;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  position: relative;




  h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .frame_desc{
    margin-bottom: 30px;
  }

  .frame_detail{
    width: 100%;
    border: 1px solid $dark_gray;
    margin-bottom: 20px;
  }

  .thick_frame{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .thick_frame_section{
    margin-left: 35x;
  }


}

}


