// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/base";
@import "base/library";

//IMAGE SLIDERRS
.rslides {
  // position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  box-shadow: 10px 10px 40px #444;
  margin-top: -50px;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 300;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




// MAIN BODY
.homepage_main{
  padding: $main_page_side_padding;
  margin: 0px auto;
  margin-bottom: 50px;
  h1{
    padding-top: 250px;
    text-align: center;
    font-size: 44px;
    color: $black_color;
  }

  .header_sub{
    color: fade-out($black_color,.001);
    font-family: $serif;
    font-size: 44px;
    // display: block;
    text-transform: lowercase;
  }

  .dottedline{
      color: fade-out($dark_gray,.001);
    font-family: $serif;
    font-size: 44px;
    border-bottom: 2px dotted $dark_gray;

  }

  .h1orange{
    color: $orange_color;
    font-size: 44px;
    font-family: $sans_serif;
    // border-bottom: 1px dotted $orange_color;

  }

  p{
      margin: 50px auto;
      padding: 40px 20px;
      line-height: 1.5em;
      font-size: 22px;
      text-align: center;
      border-top: 2px solid #aaa;
      border-bottom: 1px solid #ccc;
      width: 100%;
  }
  .p_tagline{
     margin: 30px auto 2px auto;
     padding: 0px 20px 40px 20px;
     border-top: none;
  }

  .p_tagline_extra{
    border-bottom: 1px solid #ccc;
    // background: red;
    height: 3px;
    width: 100%;
    display: block;
    content: "";

  }




 @include customer_quotes;


  blockquote{

    font-size: 28px;
    font-style: italic;
    margin: 50px auto;
    padding: 30px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 90%;
    color: fade-out($black_color, .2);
  }

  h2.shop_tagline{
    font-size: 28px;
    margin: 0px 30px;
    font-weight: 600;
    text-align: left;
    // border-top: 1px solid #ccc;
    padding: 30px 0 10px 0;
  }

  h2.shop_gifts_cta{
    font-size: 28px;
    margin: 10px 90px;
    font-weight: 600;
    text-align: left;
  }

  .starting_at{
    // font-style: italic;
    font-weight: normal;
    font-family: $sans_serif;
    margin-left: 10px;
    font-size: 18px;
    color: $red_color;
  }

  .start_browsing{
      margin: 100px auto;
      padding-top: 0px;
      text-align: center;


    a{

      padding: 30px 27px;
      font-size: 32px;
      margin-right: 5px;
      width: 900px;
      border: 5px solid $black_color;
      background: white;
      font-family: $sans_serif;
      color: $black_color;
      &:hover{
        color: white;
        background: $black_color;
      }

    }




  }

  .fa-star, .fa-gift{
      color: $orange_color;
      margin-right: 10px;
    }

}

.fa-arrow-right{
   color: $orange_color;
    margin-left: 10px;
}







// PHOTO CONTAINERS
.gallery_template{
  margin: 40px auto;
  font-size: 0;
  width: 100%;
  text-align: center;
  .ind_imge{
      position: relative;
      display: inline-block;
      margin: 0 5px 5px 0;
      position: relative;
      width: 23%;
      img{
        width: 100%;
      }
  }

  h3.home_cat_title a{
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      text-align: left;
      padding: 5px 10px;
      bottom: 0px;
      left: 0px;
      text-transform: lowercase;
      font-family: $sans_serif;
      background: $black_color;
      opacity: .95;
      color: white;
    }

}

.featured_gallery{
  @extend .gallery_template;
  margin-top: 2px;
}

.vertical_gallery{
  @extend .gallery_template;
  .ind_imge{
    margin: 0 10px 10px 0;
    width: 27%;
  }
}

.top_gifts_gallery{
  @extend .gallery_template;
  .ind_imge{
    margin: 0 5px 5px 0;
    width: 275px;
  }
}

.color_to_bw_gallery{
  @extend .gallery_template;
  .ind_imge{
    margin: 0 5px 0px 0;
    width: 500px;
  }
}

.single_gallery{
  @extend .gallery_template;
  .ind_imge{
    width: 900px;
  }
}


