@import "base/base";

$summary_wraper_width: 250px;
$background_container_color: #eee;

.cart_main{
  padding: $main_page_side_padding;
  margin: 0px auto;
  margin-bottom: 100px;
  // background: red;
}

//CHECKOUT PROGRESS

.checkout_progress{
    text-align: center;
    margin-bottom: 20px;

    li{
      background: $background_container_color;
      border: 1px solid $light_gray;
      color: $light_gray;
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      font-family: $sans_serif;
      width: 150px;
      display: inline-block;
    }

    .fa-arrow-right{
      color: $light_gray;
    }

    .progress_active{
      color: $orange_color;
    }
}


.top_checkout_section{
  // background: yellow;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
}



//ITEM LIST FOR SHOPPING CART
.order_wrapper{
  width:  $main_body_width - $summary_wraper_width - 120px;
  padding-top: 10px;
  border-top: 2px solid $black_color;
  // border-bottom: 2px solid $black_color;
  // background: green;
  display: inline-block;
  vertical-align: top;

  h1{
    margin-bottom: 10px;
  }

  .number_items{
    border-bottom: 1px solid #ccc;
    padding: 0px 0 10px 0;
    font-size: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .buymore{
    color: $orange_color;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    text-transform: capitalize;
  }

  .savemore{
    color: $black_color;
    font-family: $sans_serif;
  }

}


.order_item_wrapper{
    border-bottom: 1px solid #ccc;
    padding: 30px 10px;

    img{
      width: 175px;
    }

    li{
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
    }

    .order_details_wrapper{
      width: 300px;
      // background: green;
    }

    .price_details_wrapper{
      margin-left: 80px;
      // background: yellow;
    }

    .remove_product{
      display: block;
      width: 100px;
      margin: 0 auto;
      // background: green;
      text-align: center;
      border: 1px solid #ccc;
      color: $dark_gray;
      &:hover{
        color: $red_color;
        border: 1px solid $red_color;

      }
    }

    label{
      color: $light_gray;
      display: block;
      font: $serif;
    }

    .product_title{
      font-size: 18px;
      color: $black_color;
    }

    .product_total_price{
      font-weight: bold;
    }
}


//SIDE BAR FOR PRICE SUMMARY
.checkout_aside_wrapper{
   display: inline-block;
   vertical-align: top;
   margin-left: 30px;
}

.price_summary_wrapper{
  width: $summary_wraper_width;
  background: $background_container_color;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 20px;

  .checkout_btn{
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
  }

  h2{
    font-size: 24px;
  }

  .summary_label_left{
    width: 100px;
    float: left;
    margin-right: 50px;
  }

  .summary_label_right{
    width: 100px;
    text-align: right;
  }

  .text_align-right{
    text-align: right;
  }

  .packaging{
    color: $orange_color;
    font-weight: bold;
  }

  fieldset{
    margin-bottom: 10px;
  }

  .bold_price_field{
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid $black_color;
    padding-top: 20px;
  }

}


.checkout_help_wrapper{

  h6{
    margin-top: 10px;
  }

  .free_returns{
    margin-top: 0px;

  }
  .weknow{
    margin-bottom: 10px;
  }

  .free_returns{
    font-weight: bold;

  }

  .fa-star, .fa-arrow-circle-right, .fa-question-circle{
    margin-right: 5px;
  }

  p{
    margin-left: 5px;
  }

}



// WHY BUY OUR PHOTOGRAPHS SECTION
.why_buy_wrapper{
    clear: both;
    padding: 30px 0;

    h3{
      color: $orange_color;
      font-size: 24px;
      margin-bottom: 10px;
    }

    h4{
      margin-left: 10px;
      font-size: 20px;
    }

    p{
      margin-left: 10px;
      margin-bottom: 10px;
    }
}


