<div class="fotorama"
  data-allowfullscreen="true"
  data-fit="contain"
  data-autoplay="false"
  data-transition="crossfade"
  data-arrows="true"
  data-swipe="true"
  data-loop="true"

  data-width="100%"
  data-height="85%"

  data-keyboard="false"
  data-nav="thumbs"
  data-thumbwidth="50"
  data-thumbheight="50"
  data-hash="true" >

<% @photos.each do |photo| %>
    <%= link_to(

      image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{photo.id_num.downcase}.jpg",
      class: 'fotorama_image' ,
      alt: "#{photo.title.parameterize}"),


        "https://s3-us-west-2.amazonaws.com/hg-englarged/#{photo.id_num.downcase}.jpg",
      data: { caption: "<div class='caption_title'>Photo Title</div><div class='caption_link'><a href=#{photo_url(photo)}><i class='fa fa-star'></i>  #{photo.title}  <i class='fa fa-star'></i></a></div>" },
        id: photo.title.parameterize)
  %>

    <% end %>
</div>





