<div class="fotorama"

data-allowfullscreen="native"
data-hash="true"


data-fit="contain"
data-width="1200"
data-height="600"

data-transition="crossfade"
data-keyboard="true"
data-arrows="true"
data-swipe="true"
data-loop="true">


>

<% @photos.each do |photo| %>

    <li><%= link_to( image_tag("https://s3-us-west-2.amazonaws.com/hg-englarged/#{photo.id_num.downcase}.jpg", class: 'category_image', :data => { :caption => "#{photo.id_num} - #{photo.title}"}, id: photo.title.parameterize) , photo_url(photo) )  %></li>
    <% end %>
</div>

<section class="direction_wrapper">
<h2>Find More Information About A Photo From The Slide Show</h2>
<div class='directions'>Locate the photo id in the bottom left corner of the image slide show.</div>
<div class='directions'>Enter that photo id into the search bar at the top of the page.</div>
</section>
