

<div class="homepage">



  <div class="panorama_container"><a href="#"><%= image_tag "pan74.jpg" %></a></div>

  <h1>Quality & Affordable Chicago Photography</h1>



<!--  -->


  <p class="p_tagline">Over the last 30 years Bob Horsch has documented the dynamic landscape of Chicago through the lens of a camera.  His photography portfolio contains a diverse selection of beautiful framed Chicago skyline photos from all four colorful seasons blended with eye-catching pictures of the Chicago sports teams and home stadiums.</p>

  <h3 class="shop_tagline">Shop Featured Photo Galleries<span class="starting_at">Prices start at $24</span></h3>

    <%= render "/photos/index/gallery4x2" %>

  <p>Browse the largest collection of quality & affordable framed pictures of Chicago ranging from the early 1900's to the present day.  All of his one-of-a-kind Chicago pictures for sale come in a variety of styles which include vintage, modern, black & white and color.</p>

    <%= render "/photos/index/gallery_vert1x3" %>

  <blockquote>Your memories of Chicago may soften over time, but a photograph of Chicago lasts forever.
  </blockquote>


<div class="full_image">

<%= link_to( image_tag("2805.jpg"), photo_url(@solo_large_photo) ) %>

</div>

 </div>


</div>


