

<p id="notice"><%= notice %></p>


<h1> <%= @category.title %> </h1>




<% @category.photos.each do |photo| %>
<div class="product_wrapperq">

<%= link_to( image_tag("photo/#{photo.id_num}.jpg", class: 'myimage'), photo_url(photo.id)) %>
<%= photo.title %>
</div>

<% end %>






