<div class="cart_item_wrapper">
  <ul>

    <li>
      <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/hg-matted/bw21.jpg'), '/photos/1'  %>
    <a class='remove_product' href = '#'><i class="fa fa-times"></i> Remove</a>
    <li>

    <li class="item_details_wrapper">

        <label  class="product_title">John Hancock &amp; Skyline</label>
        <label>16x20 Photo w/ 20x20 Mat &amp; Frame</label>
        <label>Fog/Black</label>
        <label>Classic Black - Thin Rounded</label>
        <label>Convert to B&amp;W</label>
        <label>IN STOCK</label>

    </li>

    <li class="item_price_details_wrapper">
      <ul>
        <li class="product_price">$169</li>
        <li class="product_price">x</li>
        <li class="product_qty">1</li>
        <li class="product_price"></li>
        <li class="product_total_price">$169</li>
    </ul>
    </li>
  </ul>
</div>

