<section class="payment_summary_wrapper payment_help_wrapper">

  <h6 class='free_returns'><i class="fa fa-star"></i>Free Returns</h6>
  <p class='weknow'>If you don't love your new photograph, no need to worry</p>
 <!--  <p>We offer a 14 day return policy and free return shipping.</p> -->

  <h6><i class="fa fa-arrow-circle-right"></i>Shipping Info</h6>
  <p>UPS Ground</p>
  <p>3-5 business days</p>


  <h6><i class="fa fa-question-circle"></i>Have A Question</h6>
  <p>Call us at 708.590.6437</p>
  <p>Mon-Sat:&nbsp;&nbsp;9am - 6pm</p>


</section>
