<div id="fb_bw_modal" class='modal'>

<h1 class='modal_header'>Converting Photo To Black & White</h1>

<p>&#8226;&nbsp;&nbsp;Recently we have seen an increase in the demand for our black and white photography.  This type of image really gives a cityscape that timeless and nostalgic feel that a color photo doesn't seem to capture.
</p>


<p>&#8226;&nbsp;&nbsp;We guarantee that the conversion will have just the same quality as if the photograph were originally taken in black and white.  If you are not fully satisfied, our free return shipping policy still applies.
</p>

<ul class ='mat_wrapper'>
    <div class='mat_section'>Fog/Black Mat & Thin Black Frame</div>
  <li>
    <div class='mat_name'>Original in Color</div>
    <%= image_tag '2805.jpg' %>
  </li>
  <li>
    <div class='mat_name'>B&W Conversion</div>
    <%= image_tag 'convert_thin.jpg' %>
  </li>
</ul>

<ul class ='mat_wrapper'>
    <div class='mat_section'>Bright White - Single Mat & Wide Black Frame</div>
  <li>
    <div class='mat_name'>Original in Color</div>
    <%= image_tag '2805.jpg' %>
  </li>
  <li>
    <div class='mat_name'>B&W Conversion</div>
    <%= image_tag 'convert_thick.jpg' %>
  </li>
</ul>



</div>
