<div id="fb_frame_modal" class='modal'>

<h2>Why frame your photograph with HorschGallery?</h2>

<p>&#8226;&nbsp;&nbsp;Go with a frame that has been tried and tested over the years instead of choosing between hundreds of options.  For over 30 years our classic black frame has been the most popular choice among customers.
</p>

<p>&#8226;&nbsp;&nbsp;We use quality & affordable frames on our photographs and both styles will complement your home or office decor.  Don't waste extra time & money at a local frame store.  Let us custom frame the photograph and ship it right to you.</p>


<p>&#8226;&nbsp;&nbsp;If you are not fully satisfied with your framed photograph, we offer full returns and free return shipping.
</p>


<h3>Frame Comparison</h3>
<ul class="feature_content_wrapper">
<li>
<div class='image_title'>Classic Black - Thin Rounded</div>
<%= image_tag 'frame_black_thin.jpg', class: 'frame_detail'  %>
<%= link_to image_tag('https://s3-us-west-2.amazonaws.com/hg-matted/bw21.jpg'), "#" %>
<p class='image_text'>The depth measures 7/8" ( 1-1/2" for a 20x30 photo framed) and the width (profile) is thinner at 3/8".  It has a classic black metal moulding with a thin rounded face and is made by one of the leading producers of high quality frames, Nielsen Bainbridge.</p>
</li>

<li>
<div class='image_title'>Classic Black - Wide Flat</div>
<%= image_tag 'frame_black_thick.jpg', class: 'frame_detail' %>
<%= link_to image_tag('https://s3-us-west-2.amazonaws.com/hg-matted/bw21wf.jpg') , "#" %>
<p class='image_text'>The depth measures 3/4" and the width (profile) is a little thicker at 7/8".  This thicker frame has a black metal moulding with a wider flat face and is also made by one of the leading producers of high quality frames, Nielsen Bainbridge.</p>
</li>

</ul>
</div>



