<div id="fb_photo_sizes_modal" class='modal'>

<h2>Helping You Find The Right Size</h2>

<p>Are you having trouble deciding on a size?  Below you will find information that will help you choose the photograph size that is right for you or the recipient.
</p>

<h3>Size Comparisons</h3>



<div class="compare_image_wrapper"><%= image_tag 'compare1.jpg' %>
<div class="table_wrapper">
<table>
  <thead>
    <tr>
      <th>Photo Only</th>
      <th>Photo w/ Mat & Frame</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>20" x 30"</td>
      <td>24" x 36"</td>
    </tr>
    <tr>
      <td>16" x 20"</td>
      <td>20" x 24"</td>
    </tr>
    <tr>
      <td>11" x 14"</td>
      <td>14" x 18"</td>
    </tr>
    <tr>
      <td>8" x 10"</td>
      <td>11" x 14"</td>
    </tr>
  </tbody>
</table>

</div>
</div>



<h3>The Photo Shoot</h3>

<p>The goal of this project was to give you a sense of how the photographs differ in size.  Each set has a business card in the bottom left corner of the largest framed photograph for a scale of reference.</p>

<p>When we did this photo shoot we did not have the proper studio lighting so the images below showcase the photographs much brighter than we had hoped.  For a better representation of the photograph you will receive, please refer to the enlarged images (zoom in) on the product pages.</p>


</div>
