

<div class = 'bottom_footer'>
  <div class="bottom_footer_wrapper">
    <div class="social_media">
      <ul>
        <li class='pinterest'><%= image_tag 'pinterest.jpg' %></li>
        <li class= 'facebook'><%= image_tag 'facebook.jpg' %></li>
      <ul>
    </div>
    <div class="copyright">
      <div>@2014 HorschGallery LLC. All rights reserved</div>
    </div>
  </div>
</div>


