<!-- Hardcoded Super Categories.  Didnt make a table yet -->
<% super_category_array = ['Most Popular','Chicago Cityscape','Chicago Sports','Top US Cities','Other Sports','Nature'] %>

<div class="bottom_nav">
  <nav class="bottom_nav_content">
    <ul>
      <!-- Loop thru super categories to identify main categories and put both in an array of hashes -->
      <% category_pairs = [] %>
      <% super_category_array.each do |super_cat| %>
        <% main_category_array = [] %>
        <% MainCategory.where(super_category: super_cat).each do |category| %>
          <% main_category_array << category.title %>
        <% end %>
        <% category_pairs << { super_cat: super_cat, main_cats: main_category_array } %>
      <% end %>

      <!-- Loop through the hash to fill the super menu and drop down menu with (main and sub categories) -->
      <% category_pairs.each do |pair| %>
        <li class="main_menu"><a class='main_menu_link' href="#"><%= pair[:super_cat] %></a>
          <% if pair[:main_cats].size <= 3  %>
            <div class="sub_menu_container sub_menu_small">
          <% else %>
            <div class="sub_menu_container">
          <% end %>
          <%= render "layouts/dropdown_layout", main_categories: pair[:main_cats] %>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if params[:action] == 'show'  %>
    <div class="sale_nav">
      <nav class="sale_nav_content">Our March Sale is going on this week.&nbsp;&nbsp;&nbsp;&nbsp;Take our 2 minute survey and GET 15% OFF your entire order. &nbsp;&nbsp;<a href="https://www.surveymonkey.com/s/GF6XT5F">more details</a></nav>
    </div>
  <% end %>
</div>
