<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Chicago Blackhawks</h3>
<ul>
<li><a href="#">Blackhawks Banner Raising</a></li>
<li><a href="#">2013 Stanly Cup Champions</a></li>
<li><a href="#">2010 Blackhawks Champions</a></li>
<li><a href="#">2009 Winter Classic</a></li>
<li><a href="#">Old Chicago Stadium</a></li>
<li><a href="#">Chicago Blackhawks Team Players</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Bears</h3>
<ul>
<li><a href="#">Old Soldier Field</a></li>
<li><a href="#">Soldier Field Panoramas</a></li>
<li><a href="#">Soldier Field Aerials</a></li>
<li><a href="#">Chicago Bears Fans Gifts</a></li>
<li><a href="#">Chicago Bears Team Players</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Bulls</h3>
<ul>
<li><a href="#">Michael Jordan</a></li>
<li><a href="#">Bulls Championships</a></li>
</ul>
</div>

</div>


<div class="nav_column">

<div class="main_cat_grouping">
<h3>Chicago Cubs</h3>
<ul>
<li><a href="#">Black & White Wrigley Field</a></li>
<li><a href="#">Wrigley Field Panoramas</a></li>
<li><a href="#">Wrigley Field</a></li>
<li><a href="#">Wrigley Field Aerials</a></li>
<li><a href="#">Chicago Cubs Team</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago White Sox</h3>
<ul>
<li><a href="#">2005 White Sox Championship </a></li>
<li><a href="#">Cellular Field Panoramas</a></li>
<li><a href="#">US Cellular Field</a></li>
<li><a href="#">Old Comiskey Park</a></li>
</ul>
</div>

</div>

</div>
