
<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Chicago Black & White</h3>
<ul>
<li><a href="#">Black & White Horizontal</a></li>
<li><a href="#">Black & White Vertical</a></li>
<li><a href="#">Modern Day Chicago</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Vintage</h3>
<ul>
<li><a href="#">Vintage Chicago Skyline</a></li>
<li><a href="#">Vintage Chicago Sports</a></li>
<li><a href="#">Old Chicago Landmark Photos</a></li>
<li><a href="#">Old Chicago Street Cars</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Panoramas</h3>
<ul>
<li><a href="#">Black & White CHicago</a></li>
<li><a href="#">Chicago Daytime & Aerial</a></li>
<li><a href="#">Sunset & Dusk</a></li>
</ul>
</div>



</div>

<div class="nav_column">


<div class="main_cat_grouping">
<h3>Chicago Cityscape</h3>
<ul>
<li><a href="#">Chicago Cityscape</a></li>
<li><a href="#">Chicago Aerials</a></li>
</ul>
</div>


<div class="main_cat_grouping">
<h3>Famous Chicago Landmarks</h3>
<ul>
<li><a href="#">Buckingham Fountain</a></li>
<li><a href="#">Chicago Board of Trade</a></li>
<li><a href="#">Chicago River</a></li>
<li><a href="#">Chicago Theatre</a></li>
<li><a href="#">Chicago Sculptures</a></li>
<li><a href="#">Chicago Water Tower</a></li>
<li><a href="#">Millennium Park</a></li>
<li><a href="#">Navy Pier</a></li>
<li><a href="#">State Street</a></li>
<li><a href="#">Trump Tower Chicago</a></li>
<li><a href="#">Tall Ships Chicago 2010</a></li>
<li><a href="#">Wrigley Building</a></li>
<li><a href="#">Other Famous Landmarks</a></li>
</ul>
</div>

</div>
