 <footer>
  <!--   <div class="signupnewsletter"><a href="#">JOIN OUR NEWSLETTER</a></div> -->



<%=  render 'layouts/newsletter' %>

<%= render 'layouts/top_footer'  %>

<%= render 'layouts/bottom_footer' %>

</footer>

