<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Top Chicago Gifts</h3>
<ul>
<%  find_categories('Top Chicago Gifts').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Most Recent Photography</h3>
<ul>
<%  find_categories('Most Recent Photography').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>
</div>

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Christmas Favorites</h3>
<ul>
<li><a href="#">Vintage Chicago Skyline</a></li>
<li><a href="#">Vintage Chicago Sports</a></li>
<li><a href="#">Chicago Cityscape</a></li>
<li><a href="#">Black & White Horizontal</a></li>
</ul>
</div>

</div>
