<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Top Chicago Gifts</h3>
<ul>
<li><a href="#">Top 10 of 2013</a></li>
<li><a href="#">Chicago Skyline</a></li>
<li><a href="#">Chicago Sports</a></li>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Most Recent Photography</h3>
<ul>
<li><a href="#">February 2014</a></li>
<li><a href="#">December 2013</a></li>
<li><a href="#">November 2013</a></li>
<li><a href="#">September 2013</a></li>
</ul>
</div>
</div>

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Christmas Favorites</h3>
<ul>
<li><a href="#">Vintage Chicago Skyline</a></li>
<li><a href="#">Vintage Chicago Sports</a></li>
<li><a href="#">Chicago Cityscape</a></li>
<li><a href="#">Black & White Horizontal</a></li>
</ul>
</div>

</div>
