
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="initial-scale=1">


<title><%= yield(:meta_title) %></title>
<meta name="description" content="<%= yield(:meta_desc) %>"/>


<!-- OPEN GRAPH META TAGS -->
<!-- <meta property="fb:app_id" content="89186614300" />
<meta property="og:site_name" content="Etsy" />
<meta property="og:locale" content="en_US" /> -->

