<div class="newsletter_wrapper">

<!-- Begin MailChimp Signup Form -->

<div class = 'subscribe_title'>Subscribe to our newsletter</div>
<p class = 'subscribe_desc'>Be the first to find out about our newest photos and get in our future promotions.</p>

<div class="mail_chimp_wrapper">

  <form action="http://horschgallery.us7.list-manage.com/subscribe/post?u=836c06f73664826a593143fac&amp;id=b1d8d21d28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required="" />

    <input type="submit" value="Cool, Sign Me Up" name="subscribe" id="mc-embedded-subscribe" class="button" />

  </form>

</div>



</div>
