  <section class="three_things">
  <ul>
    <li>
      <h4><i class="fa fa-star"></i>One-Of-A-Kind Photographs</h4>
      <p>Unlike large e-commerce print and poster websites, our photographs are not mass produced. Every Chicago picture was photographed and crafted entirely by gallery owner, Bob Horsch.</p>
    </li>
    <li>
      <h4><i class="fa fa-home"></i>Family Owned Business</h4>
      <p>We are a long standing & reputable, local family business.  For 30 years, we have been selling high quality & affordable photos with two previous stores on Michigan Avenue.</p>
    </li>
    <li>
      <h4><i class="fa fa-truck fa-flip-horizontal"></i>Free Return Shipping</h4>
      <p>If you aren't happy with your new photo, we'll refund everything. This includes: photo price + tax + initial shipping + free return shipping.</p>
    </li>
  </ul>
</section>
