<div class="top_footer">
  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Contact Info</li>
      <li><a href='#'>Email Us</a></li>
      <li><a href='#'>Call 708-590-6437</a></li>

    </ul>
  </div>
  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Photo Options</li>
      <li><a href='#'>Compare Sizes</a></li>
      <li><a href='#'>Compare Mat Colors</a></li>
      <li><a href='#'>View Frame Options</a></li>
      <li><a href='#'>B&amp;W Conversions</a></li>
    </ul>
  </div>
  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Shipping</li>
      <li><a href='#'>UPS Ground</a></li>
      <li><a href='#'>3-5 Business Days</a></li>
      <li><a href='#'>Free Return Shipping</a></li>
    </ul>
  </div>
  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Free Returns</li>
      <li><a href='#'>Free Return Shipping</a></li>
      <li><a href='#'>14 Day Return Policy </a></li>
      <li><a href='#'>FAQ</a></li>
    </ul>
  </div>
   <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Extra Info</li>
      <li><a href='#'>Upcoming Art Fairs</a></li>
      <li><a href='#'>Read Customer Reviews</a></li>
     <!--  <li><script src="https://widget.resellerratings.com/widget/javascript/rating/Bob_Horsch_Gallery.js"></script></li> -->

    </ul>
  </div>
    <div class="footer_info">
    <ul>

      <li class="top_of_page"><a href="#">
        <div class="toparrow"><i class="fa fa-arrow-up"></i> </div>
        <div class="top">Top</div>
        </a>
      </li>

    </ul>
  </div>
</div>
