<div class="top_nav">

  <nav class="top_nav_content">
    <ul class='restofheader'>

      <li class="logoname"><a href="/" >HorschGallery</a></li>
      <li><%= form_tag( search_url, :method => "get") do %>

         <%= search_field_tag :query, nil, class: "search_field", placeholder: "Search over 1000+ photographs" %></li>
            <li><label for="mySubmit" class="search_button"><i class="fa fa-search"></i></label></li>
            <li><input id="mySubmit" type="submit" value="Search" class="hide_search_button" /></li>
            <% end %>

      <li class = "photographers"><a href="/photographers"><i class="fa fa-camera-retro"></i>The Photographers</a></li>
      <li class = "account"><a href="/shopping_cart"><i class="fa fa-shopping-cart"></i>Shopping Cart</a></li>

    </ul>
  </nav>
</div>
