<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>San Francisco, CA</h3>
<ul>
<li><a href="#">San Francisco Bridges</a></li>
<li><a href="#">San Francisco Skyline</a></li>
<li><a href="#">San Fancisco Landmarks</a></li>
<li><a href="#">San Francisco Panoramas</a></li>
<li><a href="#">Black & White San Francisco</a></li>

</ul>
</div>
</div>

<div class="nav_column">
<div class="main_cat_grouping">
<h3>Boston, MA</h3>
<ul>
<li><a href="#">Fenway Park</a></li>
<li><a href="#">Boston Skyline</a></li>
<li><a href="#">Boston Aerial Images</a></li>
<li><a href="#">Boston Public Garden</a></li>
<li><a href="#">Black & White Boston Photos</a></li>
<li><a href="#">Boston Landmarks & Attractions</a></li>


</ul>
</div>
</div>
